$max-size: 100% !default;
$peb-error: #ff5410;
$peb-warn: #ffc800;
$peb-success: #00ff04;
peb-trans {
  display: inline;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
